.wrapper {
    background-color: white;
    padding: 2% 7% 2% 2%;
    border: 2px solid #e5e5e5;
    border-radius: .25rem;
    margin: 1% auto;
}

.wrapper .question-header{
    color: #34556a;
    font-size: 1.2rem;
    font-weight: bold;
}

.wrapper .question-header:hover{
    color: #207fae;
    text-decoration: none;
}

.wrapper .media .media-body p a {
    color: #207fae;
}

.lbtn-group-vertical{
    position: static;
    float:right;
    width: 20%;
}


.icon{
    margin: 15px;
    color: black;
}

.icon:hover{
    color: #207fae;
}

.unfollowH{
    color: #207fae;
}

.unfollowH:hover{
    color: black;
}

.elements{
    z-index: 0;
    width: 15%;
    height: 25%;
    position: fixed;
    top:40%;
    right: 0px;
    background: white;
    border-left: 2px solid #207fae;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

a {
    color: #34556a;
}

a:hover {
    color: black;
    text-decoration: none;
}

p.question_date {
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 0px;
}

.like3P{
    color: #207fae;
}

.dislike3P{
    color: #207fae;
}

.brief-description.module {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 3rem;
}

.more-btn-div {
    background:white; 
    box-sizing: border-box;
    direction: ltr;
    position: absolute;
    right: 15px;
    bottom: 0px;
}

.more-btn-div div {
    box-sizing: border-box;
    direction: ltr;
    box-shadow: rgba(255, 255, 255, 0.85) -8px 0px 8px;
    color: #34556a;
    font-weight: bold;
}

.more-btn-div div a {
    text-decoration: none;
}

.more-btn-div div a:hover {
    text-decoration: none;
}


#add_btn {
    width: 100%;
}

.input-button {
    background-color: #207fae;
    padding: 15px 15px 15px 15px;
    border: 2px solid #e5e5e5;
    border-radius: .25rem;
    border-color: #207fae;
    margin: 15px auto 0;
    text-align: left;
    color: white;
    transition: 0.5s ease;
}

.input-button:hover {
    background-color: white;
    border: 2px solid #e5e5e5;
    border-color: #207fae;
    color: #207fae;
}