.wrapper-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
    margin-right: 40px;
}

.reports{
    padding: 2%;
    font-size: 1.6rem;
    color: #207fae;
    font-weight: bold;
}

.list-group{
    grid-row: 2;
    max-height: 500px;
    padding: 2%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group .active{
    background-color: #207fae;
}

.moderate{
    margin: 0 auto;
    margin-top: 3%;
    background-color: #fff;
    padding: 2%;
    border: 2px solid #e5e5e5;
    border-radius: .25rem;
}

.nav-link{
    color: #207fae;
}

#modal-report {
    background: rgb(182, 4, 4);
    padding: 0.5rem;
    border-radius: 0.1rem;
    color: white;
    margin-bottom: 1rem;
}

#modal-report p {
    font-style: italic;
}

#modal-report p#report_content {
    margin-bottom: 0;
}

#modal-report p#report_date {
    margin-bottom: 0;
}

#modal-report p span {
    font-weight: bold;
}





