.profile {
    margin-top: 3%;
    padding: 3%;
    border-radius: .25rem;
    background: #f8f9fa;
}

.file {
    position: relative;
    overflow: hidden;
}

.file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.question-header-profile{
    text-decoration: none;
    color: black;
}

.question-header-profile:hover{
    text-decoration: none;
    color: black;
}

.icon-profile{
    float: right;
}