body {
    background: #eee;
    background-image: url("../resources/wallpaper2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper {
    margin: 70px;
}

.form-signin {
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    margin-bottom: 20px;
}

.form-signin #api {
    margin-bottom: 40px;
}

.form-signin .form-signin-heading {
    margin-bottom: 50px;
}

.jumbotron {
    background: #eee;
    text-align: center;
}

#register {
    margin-top: 10px;
}

#logo {
    margin-top: 50px;
    text-align: center;
}

.wrapper form h2 {
    text-align: center;
}

.wrapper form #api {
    background-color: #DB4437; 
    color: white;
}

.wrapper form [type="button"] {
    background-color: #6545c9; 
    color: white;
}

.wrapper form #register {
    color: #6545c9;
}

.home_question {
    width: 70%;
    background-color: white;
    padding: 15px 15px 15px 15px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    border-color: #6545c9;
    margin: auto;
    margin-top: 1rem;
}

.wrapper #question-header{
    color: black;
}

.wrapper #question-header:hover{
    color: #6545c9;
}

.wrapper .media img{
    height: 8rem;
}

.icon{
    margin: 15px;
    color: black;
}

.icon:hover{
    color: #6545c9;
}

div.popular {
    background-color: #eee;
    margin: auto;
    padding-bottom: 6rem;
    margin-top: 5rem;
    width: 75%;
    border-radius: .5rem;
}

div.popular h1#pop_questions {
    text-align: center;
    padding: 3rem;
    background-color: #6545c9;
    border: solid #eee;
    border-width: .1rem .1rem 0rem .1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    color: white;
    margin-bottom: 2rem;
}