.profile {
    margin-top: 7%;
    padding: 3%;
    border-radius: 1.5rem;
    background: #f8f9fa;
}

.file {
    position: relative;
    overflow: hidden;
}

.file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}